<fieldset>
    <legend>Login</legend>
    <!-- USERNAME -->
    <div class="form-group">
        <label for="username">Username</label><br>
        <input class="form-contol" id="username" type="text" name="username"
        value="{{user.username}}" />
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
        <label for="password">Password</label><br>
        <input class="form-contol" id="password" type="password" name="password" />
    </div>

</fieldset>
