<fieldset>
    <legend>Post</legend>
    <!-- POST TITLE -->
    <div class="form-group">
        <label for="postTitle">Title</label><br>
        <input class="form-contol" id="postTitle" type="text" name="postTitle" value="{{post.postTitle}}" />
    </div>

    <!-- POST BODY -->
    <div class="form-group">
        <label for="post-body">Body</label><br>
        <input class="form-contol" id="postBody" type="text" name="postBody" value="{{post.postBody}}" />
    </div>
</fieldset>
