<!doctype html>
<body>
    <!-- Default form contact -->
<form class="text-center border border-light p-5">

    <!-- Subject -->
    <label>New Post</label>
    <div class="form-group">
        <input class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Title"></input>
    </div>

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" placeholder="Body"></textarea>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->
</body>
